# ========================
# Node.js
# ========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# Variables d'environnement (sécurité)
# ========================
.env
.env.local
.env.production

# ========================
# Système
# ========================
.DS_Store
Thumbs.db

# ========================
# Éditeurs
# ========================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln